/*--------------------GLOBAL--------------------*/
/*--------------------HEADER--------------------*/
/*--------------------MAIN--------------------*/
/*--------------------FOOTER--------------------*/
/*--------------------MQ-1100--------------------*/
/*--------------------MQ-900--------------------*/
/*--------------------MQ-550--------------------*/
/*--------------------MQ-470--------------------*/
/*--------------------MQ-376--------------------*/


/*--------------------GLOBAL--------------------*/
$max-width: 1200px;
$dark: #151B2B;
$black: #454658;


*{
    margin: 0;
    padding: 0;
    font-size: 10px;
}
html, body{
    overflow-x: hidden;
}

.row {
    max-width: $max-width;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
}

.button{
    border-radius: 3px;
    display: inline-block;
    white-space: nowrap;
    padding: 0.9rem 1.6rem !important;
    color: white;
    white-space: nowrap;

    span{
        margin-left: 0.7rem;
        font-family: 'SF UI Text Semibold';
        font-size: 1.4rem;
    }
    > * {
        vertical-align: middle;
    }
    &:hover{
        transform: scale(1.1);
        box-shadow: 3px 3px 8px 1px rgba(47,59,89,0.6);
    }
    &:active{
        transform: scale(1);
        box-shadow: 0 1px 3px ;
    }
}

h1{
    font-weight: 800;
    font-size: 4.6rem;
    line-height: 5rem;
    color: $black;
}

h2{
    font-family: 'hk_groteskextrabold';
    font-size: 3.2rem;
    line-height: 3.5rem;
    color: $black;
}

h3{
    font-family: 'hk_groteskbold';
    font-size: 2.4rem;
    line-height: 2.4rem;
    color: $black;
}
h4{
    font-family: 'SF UI Text Regular';
    font-size: 1.6rem;
    line-height: 2.6rem;
    color: $black;
}

p{
    font-family: 'SF UI Text Regular';
    font-size: 1.6rem;
    line-height: 2.4rem;
    color: $black;
}

a{
    font-size: 1.2rem;
    color: #5D64D2;
    font-family: 'SF UI Text Semibold';
    text-decoration: none;
    font-size: 1.5rem;
    line-height: 2.4rem;
}


@font-face {
    font-family: 'hk_grotesksemibold';/*600*/
    src: url('../../src/font/hk-grotesk/hkgrotesk-semibold-webfont.woff2') format('woff2'),
         url('../../src/font/hk-grotesk/hkgrotesk-semibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'hk_groteskbold';/*700*/
    src: url('../../src/font/hk-grotesk/hkgrotesk-bold-webfont.woff2') format('woff2'),
         url('../../src/font/hk-grotesk/hkgrotesk-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'hk_groteskextrabold';/*800*/
    src: url('../../src/font/hk-grotesk/hkgrotesk-extrabold-webfont.woff2') format('woff2'),
         url('../../src/font/hk-grotesk/hkgrotesk-extrabold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SF UI Text Regular';/*400*/
    font-style: normal;
    font-weight: normal;
    src: local('SF UI Text Regular'), url('../../src/font/SF\ UI\ Text/SFUIText-Regular.woff') format('woff');
    }

@font-face {
    font-family: 'SF UI Text Semibold';/*600*/
    font-style: normal;
    font-weight: normal;
    src: local('SF UI Text Semibold'), url('../../src/font/SF\ UI\ Text/SFUIText-Semibold.woff') format('woff');
    }

@font-face {
        font-family: 'Hack';
        src: url('../../src/font/Hack/hack-regular.woff2') format('woff2'),
             url('../../src/font/Hack/hack-regular.woff') format('woff');
        font-weight: 400;
        font-weight: normal;
        font-style: normal;
    }


/*--------------------HEADER--------------------*/
header{
    background-color: $dark;
    height: 100vh;
    p, h1{
        color: #FFFFFF;
    }
    .row{
        height: 100vh;
        padding: 0 2rem;
        position: relative;
        align-items: center;
        > * {
            width: 50%;
        }
    }
}

#logo{
    position: absolute;
    width: 160px;
    height: 5rem;
    top: 4rem;
}

#home{
    h1{
        display: inline-block;
        font-family: 'hk_groteskbold';
        margin-bottom: 1rem;
    }
    iframe{
        height: 3.6rem;
        width: 100px;
        border: none;
        vertical-align: middle;
        margin-left: 2rem;
    }
    p{
        max-width: 480px;
    }
    p:nth-of-type(1){
        font-family: 'hk_grotesksemibold';
        font-size: 2.5rem;
        line-height: 3.5rem;
        margin: 1.5rem 0;
    }

    p:nth-of-type(2){
        margin-top: 1rem;
        margin-bottom: 4.8rem;
    }

    a:nth-of-type(1){
        margin-top: 4.8rem;
    }

    .button:nth-of-type(1){
        background: #454658;   
    }
    .button:nth-of-type(2){
        background: #6578C0;
        margin-left: 2rem;
    }
}

#schem{
    text-align: end;
    img{
        max-width: 100%;
    }
}
/*--------------------MAIN--------------------*/
main{
    background-color: #F9F9FD;
    .row:nth-of-type(1){
        padding-top: 9.6rem;
        max-width: 1300px;
        margin-bottom: 10rem;
        > * {
            margin: 0 auto;
        }
    }
    .row:nth-of-type(2){
        > * {
            width: 50%;
        }
    }
}

#how-work{
    padding: 0 2rem;
    text-align: center;
    max-width: 853px;
    h2{
        margin-bottom:2.4rem;
    }
    p{
        max-width: 837px;
        margin-bottom:3.2rem;
    }
    img{
        width: 100%;
    }
}

#usage{
    width: 100%;
    margin-top: 12.8rem;
    position: relative;
    text-align: center;
    overflow-x: hidden;

    > * {
        padding: 0 2rem;
    }
    h2{
        margin-bottom: 1.7rem;
    }
    #schem-usage{
        padding: 0;
        position: absolute;
        top: 0;
        left: 50%;
        width: 90%;
        transform: translate3d(-45%, 0, 0);
        min-width: 800px;
    }

    #code{
        background-color: white;
        margin: 10.5rem 0 4.8rem 0;
        position: relative;

    }

    h3{
        display: block;
        font-size: 1.2rem;
        line-height: 1.8rem;
        padding: 0.4rem 0.8rem;
        text-align: start;
        background-color: #5D64D2;
        width: fit-content;
        color: white;
        border-radius: 3px
    }

    code {
        padding: 0;
        font-size: 1.5rem;
        font-family: 'Hack';
        > *{
            font-size: 1.5rem;
        }

        .hljs-comment{
            color: #a8a8c1;
        }
        .hljs-variable{
            color: #454658;
        }

        .hljs-keyword{
            color: #5D64D2;
        }
        .hljs-section, .hljs-title {
            color: #ff6240;
        }
        .hljs-built_in,.hljs-literal{
            color: #43c9d5;
        }
        .hljs-string{
            color: #5d64d2;
        }
    }
    .hljs{
        text-align: start;
        background-color: white !important;
        font-family: 'Hack';
    }

    .button{
        margin-bottom: 2rem;
        &:hover{
            transform: scale(1.1);
            box-shadow: 3px 3px 8px 1px rgba(47,59,89,0.6);
        }
        &:active{
            transform: scale(1);
            box-shadow: 3px 3px 10px 1px #2F3B59;
        }
    }
    .button{
        margin-left: 1.2rem;
        margin-right: 1.2rem;
    }
    .button:nth-of-type(1){
        background: #454658;   
    }
    .button:nth-of-type(2){
        background: #6578C0;
    }
}

#articles{
    .col{
        position: relative;
        margin-bottom: 6.5rem;
    }
    article{
        max-width: 428px;
        margin: 0 2rem;
    }

    img{
        position: absolute;
        top: 0;
    }
    
    h3{
        margin-top: 23.6rem;
        margin-bottom: 2.4rem;
    }
    .col:nth-of-type(1),.col:nth-of-type(2){
        h3{
            margin-top: 19.3rem;
        }
    }

    p{
        margin-bottom: 1.2rem;
    }
    a{
        font-size: 1.2rem;
        color: #5D64D2;
        display: inline-block;
        &:hover{
            transform: scale(1.3);
        }
    }
    .col:nth-of-type(2n) article{
        margin-left: auto;
        margin-right: 2rem;
        padding-left: 2rem;
    }

    h2{
        text-align: center;
        width: 100%;
        margin-top: 10.2rem;
        margin-bottom: 26.6rem;
    }

}
#background{
    width: 100%;
    height: 12.4rem;
    background-color: $dark;
}
/*--------------------FOOTER--------------------*/
footer{
    display: block !important;
    padding: 2rem;

    .row:nth-of-type(2){
        display: flex;
        flex-wrap: wrap;

        .col:nth-of-type(1){
            width: 30%;
            padding-right: 7rem;
        }
    }
    .row:nth-of-type(3){
        border-top: 1px solid #e6e8f0;
        padding: 2.8rem 0;
        display: block;
        >*{
            display: inline-block;
            color: #798099;
            font-size: 1.2rem;
            line-height: 2rem;
        }

    }
    .vertical-divider{
        width: 1px;
        height: 12px;
        margin-right: 8px;
        margin-left: 8px;
        background-color: #e6e8f0;
    }
    a:hover{
        color: #414794;
    }
}

#logo2{
    padding: 4.8rem 0;
    > * {
        vertical-align: middle;
    }
    img{
        height: 4rem;
        margin-right: 1.2rem;
    }
    h3{
        display: inline-block;
        font-family: 'SF UI Text Regular';
    }
}

#footer-link{
    p{
        margin-bottom: 24px;
        color: #798099;
    }
    a{
        display: inline-block;
        margin: 3px;
        padding: 6px;
        border: 1px solid #e6e8f0;
        &:hover img{
            opacity: 1;
        }    
    }
    img{
        width: 16px;
        opacity: 0.6;
        max-width: 100%;
    }
    iframe{
        margin-top: 2.8rem;
        display: block;
        width: 11rem;
        height: 2rem;
        border: none;
    }
}

.col-footer{
    flex: 1;
    padding: 0 1rem;
    h4{
        margin-bottom: 3rem;
    }
    a{
        display: block;
        color: #798099;
        text-decoration: none;
        padding: 1.2rem 0;

    }
}



/*--------------------MQ-1100--------------------*/
@media screen and (max-width:1100px){
    footer  .row:nth-of-type(3){
        text-align: center;
    }
}

/*--------------------MQ-900--------------------*/
@media screen and (max-width:900px){

    header .row{
        overflow: hidden;
    }
    #home{
        margin: 0 auto;
        text-align: center;
        z-index: 1;
        width: 100%;

        p{
            margin: 0 auto;
        }
        p:nth-of-type(1){
            margin: 1.5rem auto;
        }

        .button:nth-of-type(2){
            background: #6578C0;
            margin: 2rem 2.5rem;
        }
    }

    #schem{
        position: absolute;
        width: 85%;
        min-width: 450px;
        margin: 0 auto;

        left: 50%;
        transform: translate3d(-43%, 0, 0);

        img{
            opacity: 0.5;
            display: block;
            margin: 0 auto;
        }
    }
    
    #articles{
        .col{
            width: 100%;
        }
        img{
            max-width: 90%;
        }
    }

    #footer-link{
        width: 100%;
        padding-right: 0;
        margin-bottom: 4.8rem;
        >*{
            margin: 0 auto;
            text-align: center;
        }
        p{
            width: 100%;
            max-width: 400px;
        }
        div{
            margin: 0 auto;
            width: fit-content;
        }
    }

}

/*--------------------MQ-550--------------------*/
@media screen and (max-width:550px){
    .col-footer{
        width: 50%;
        box-sizing: border-box;
        flex: auto;
    }
}
/*--------------------MQ-470--------------------*/
@media screen and (max-width:470px){
    #articles{
        h3{
            text-align: center;
        }
        img{
            max-width: 90%;
            left: 0; 
            right: 0;
            margin: 0 auto;
        }
        a{
            display: block;
            margin: 0 auto;
            width: fit-content;
        }
    }
}
/*--------------------MQ-376--------------------*/
@media screen and (max-width:376px){

    #home{
        h1{
            font-size: 3.6rem;
            line-height: 4rem;
            font-size: 3.5rem;
        }
        .button:nth-of-type(2){
            margin: 2rem auto;
        }
    }
    #usage{
        .button:nth-of-type(2){
            display: block;
            width: fit-content;
            margin: 2rem auto;
        }
    }

    .col-footer{
        a{
            font-size: 1.15rem;
        }
    }

    
    
}




